
body{
    font-family: "Cuprum", "droidfont", sans-serif;
}
.content-pages {
    width: 80%;
}
.card-custom {
    border: 1px solid #000;
    margin-bottom: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3); /* زيادة العمق والانتشار */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
}
.line{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 10px 0;
}
.form-control{

    
    width: 70%;
}
.input-group{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 70%;
}
.card-container{
    width: 100%;
}

.card-header-custom {
    background-color: #0872b9;
    color: white;
    border-radius: 15px 15px 0 0;
}
.form-group{
    color: #0872b9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px ;
    flex-wrap: wrap;
}

.form-group label{
    color: #0872b9;
    text-wrap: nowrap;
}
.card-header h2{
    color: #0872b9;
}
.card-body{
    padding: 5px 0;

}
.card-body h5{
    text-align: right;
    color: #0872b9;
    margin: 10px 0px;
}

.bt-payment{
    color: black;
    background-color: white;
    border-color: black;
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 6px;
    padding: 5px 10px;
}


.header-logo-knet{
    width: 150px;
    height: 150px;
}
.footer{
    margin-top: 650px !important;
  }


  @media screen and (max-width: 768px) {
    .input-group{
        width: 100%;
    }
    .form-control{
        width: 100%;
    }
    .footer{
        margin-top: 900px !important;
      }
      .header-logo-knet{

        width: 150px;
        height: 150px;
    }
    
    
}
