.card-header{
    background-color: #f5f5f5;
    color: #000;
    font-size: 18px;
    border-color: transparent;
}
.card-header h5{
    font-weight: 700;
    font-size: 20px;
    padding: 5px 0;
}
.form-group {
    text-align: right   ;
}
.form-group label{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: right;
    margin: 5px;
}
.form-group input{
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
}
form {
    text-align: right;
    padding: 0 20px;

    display: flex;
    align-items: center;
    gap: 20px;
    
}
 .form-group-button{
    color: #fff;
    background-color: #0d47a1 !important;
    border-color: #0d47a1 !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    text-align: right;
    height: 50px;
    margin-top: 20px;
    padding: 0 10px;

}
.table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto; /* قد تحتاج إلى هذه الخاصية في حال كنت ترغب في وجود شريط تمرير */
}
tbody {
    background-color: #f8f9fa; /* لون خلفية للرأس */

}
thead > tr > th {
    border: 1px solid #ddd;
    text-wrap: nowrap;
}
tbody > tr > td {
    border: 1px solid #ddd;
    text-wrap: nowrap;
}
.delete-form{
    color: #002171;
    background-color: #FFF !important;
    border-color: #002171 !important;
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 6px;
    margin: 0 10px;
    
}
.pay-form{
    color: #fff;
    background-color: #0d47a1 !important;
    border-color: #0d47a1 !important;
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 6px;
    margin: 0 10px;
}

.footer{
    margin-top: 500px !important;
  }
